/* src/styles/MainContent.css */
.main-content {
  margin-left: 450px; /* Adjust based on the width of your sidebar */
  padding: 70px 340px 60px; /* Add bottom padding to account for ImageDisplay */
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  transition: margin-left 0.3s ease;
  /* Ensure vertical alignment */
}

.button-container {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Align items vertically */
  max-width: 1350px;
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add some padding */
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px; /* Width of the button */
  height: 80px; /* Height of the button */
  border-radius: 50%; /* Makes it circular */
  background-color: rgba(255, 255, 255, 0.877); /* Transparent white background */
  color: #000000; /* Text color */
  text-decoration: none; /* Remove underline from links */
  font-size: 16px; /* Font size */
  font-weight: 600; /* Font weight */
  text-align: center; /* Center text */
  margin: 0 30px; /* Horizontal spacing between buttons */
  border: 2px solid #8e9472; /* Subtle border around the button */
  box-shadow: 0 4px 8px rgba(146, 66, 66, 0.2); /* Soft shadow for depth */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.8s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.938); /* Slightly more opaque on hover */
  color: #000; /* Change text color on hover */
  transform: scale(1.1); /* Slightly enlarge the button on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

/* Adjust margin-left when the sidebar is closed */
.sidebar.closed ~ .main-content {
  margin-left: 250px; /* Margin for closed sidebar */
}
